@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.bg-gradient {
  background: rgb(38, 34, 70);
  background: linear-gradient(
    270deg,
    rgba(38, 34, 70, 1) 0%,
    rgba(15, 19, 44, 1) 48%,
    rgba(4, 8, 34, 1) 100%
  );
}
.-bg-gradient {
  background: rgb(38, 34, 70);
  background: linear-gradient(
    250deg,
    rgba(4, 8, 34, 1) 0%,
    rgb(14, 21, 61) 100%
  );
}

.bg-primary {
  background-color: rgb(38, 34, 70);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
